# Understanding  the data.

So bascially we have data set of the company who has 5000 employee.

Both Male and Female are working.

Data set have some information of the employee like they have own business and people are dependent on them or not

Then data set have information like employees have authority to call or not.

Then Employees have been rated or not by their supervisors.

Data set has information about the Employee basic salary,bonus total salary.

Company unit price,openingbalance,closingbalance,total_sales and volume alloted to the employee revealing in data set.

From how many months employee working is also there.

Employess age and Education Information is there in the data set.

# Data analysis and interpretations

In [ ]:
#importing required library
import pandas as pd #importing panda library  for  data analysis
import numpy as np  #importing numpy library  for mathematical operations
import matplotlib.pyplot as plt  # matplotlib work like MATLAB
import seaborn as sns    # importing seaborn library for data visualization

In [ ]:
#loading the data set
df=pd.read_csv(r"E:\pkl\hrdataset.csv" )  # reading the data

In [ ]:
df #data set

# Data set Description

Gender - talks of the gender - Male or female

Business - if the person has a business or no

Age - age of the person

Salary - CTC of the employee

Dependants - number of people dependant on the person

Months - duration of the person employed with the company

Calls - if the person has authority to make calls or not

Type - salary settlement type

Billing - Subscribed to billing plans or no

Unit sales - unit sale made by the person

Total sales - total sales made by the person

Rating - If he has been given a rating by a superior or no

Bonus - amount received by a person as bonus for sales

Base pay - Base pay of the employee

Unit price - The Unit price of a sale

Volume - volume allotted to a person

Opening balance - The opening balance of an employee

Low - lowest balance allotted to a person.

Closing Balance- The closing balance of an employee

Education- Educational background of an employee

In [ ]:
#doing deep copy to keep a copy of raw data for future references if needed.
df1=df.copy()
df1

In [ ]:
df.head(10) #top 10 data of data set to analyze it

In [ ]:
df.tail(10)  # bottom 10 of data of data set

In this we can clearly see that openingbalance has nan value which should be replaced with approporiate  value to get better result.Also total sales has some empty data.

In [ ]:
df.shape

Data have 5000 rows and 20 columns.

In [ ]:
#Checking the size of dataset
df.size

In [ ]:
df.describe() #describe functions tells all basic important function of data set like mean,max,count,25%,50%,75% of data.

Here we can notice that count of openingbalance,total sales and base pay is less than 5000.So we have definately some missing values
.We should handle those value first so that we can better and correct interpretation and visualization of the graph.

In [ ]:
#filling empty cells of Total_Sales with nan
df=df.replace(r'^\s*$', float(np.NaN), regex=True)

In [ ]:
df.tail() #to check weather that values are replaced with nan or not

Here we can see that empty cells of Total_Sales are replaced with nan

In [ ]:
df.info() #info tells type of data set

Here we can analyze that Total_Sales is object type but it should be in float as it is total sales made by the person and value is in decimals.So we have to change the data type of Total_sales.

In [ ]:
df['Total_Sales'] = df['Total_Sales'].astype('float64') #changing data type of data sets

In [ ]:
df.info()  # rechecking the information to confirm weather the data type of Total_sales has changed or not.

Here we can confirm that Total_sales object is now float64.

In [ ]:
missing_values = df.isnull().sum() #counts the total number of nan value present in data set.
missing_values

Here we can observe that we have 23 nan value in Base_pay, 1476 nan value present in openingbalance and 16 nan value present in Total_sales.

In [ ]:
#calculating percentage of missing values
total = df.isnull().sum().sort_values(ascending=False)  # Total count of missing values per column
percent_1 = (df.isnull().sum() / df.shape[0]) * 100   # Percentage of missing values per column
percent_2 = round(percent_1, 1).sort_values(ascending=False)  # Percentage rounded to 1 decimal point 

missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])  # Concatenate the two 
                                                                          #Series into a DataFrame
missing_data.head(3)  # Display the top 3 columns with missing data


Imputation



Imputation is technique used for replacing the missing data with some reasonable value[Mean,Meadia and Mode] to retain most of the data or 
information of the dataset.In this case I would like to go with KNNimputer and mean to impute values base_pay and Total_Sales has less number of 
missing values.


The idea in kNN methods is to identify 'k' samples in the dataset that are similar or close in the space. Then we use these 'k' samples to estimate the value of the missing data points. Each sample's missing values are imputed using the mean value of the 'k'-neighbors found in the dataset.


I am imputing because it can give important information to predict the value of our dependent vairable.

In [ ]:
from sklearn.impute import KNNImputer
x=df[['Base_pay','openingbalance','Total_Sales']]

#create an object 
imputer= KNNImputer(n_neighbors=2)
#fit and transform the values
x=imputer.fit_transform(x)

In [ ]:
#converting the array into dataframe
df[['Base_pay','openingbalance','Total_Sales']]=pd.DataFrame(x, columns =['Base_pay','openingbalance','Total_Sales'])

In [ ]:

df.isna().sum()     #now checking again the sum of toal nan value present in the data set.

Here we can clearly see that sum of nan value present is 0.Hence we have successfully replaced all nan value present in the data set.

# EDA

In [ ]:
#checking the total employee education wise
degree_wise=df.Education.value_counts() #counting degree wise employee
degree_wise #degree wise employee

We can see that 2979 employee have pg degree ,1980 have done Graduation ,27 people has done Intermediate and 14 people with HIgh school or less.
Here we can interpret that company prefer people  for job who are more educated.

In [ ]:
Gender_wise=df.Gender.value_counts() #counting total number of the employee gender wise.
Gender_wise                          # gender wise employee.

So number of male and females employess are almost equal.

In [ ]:
# counting how many employees have been rated by supervisor
Rating_wise=df.Rating.value_counts() #counting the total number of ratings employee wise
Rating_wise  #rating wise

So we can see here that large number of employees have not been rated by supervisors.

In [ ]:
# counting how many employees authority to call
call_wise=df.Calls.value_counts() #counting the total number of employee who has authority to call.
call_wise   #number of employee has authority to call

So large number of employee have authority to call.

In [ ]:
# counting number of people dependant on the person
Dependancies_wise=df.Dependancies.value_counts() #counting total number of people dependednt on the person.
Dependancies_wise # number of people dependent on the employee.

Large Number of people are not dependent.

In [ ]:
Age_wise=df.Age.value_counts() #counting number of employess working in the company age wise.
Age_wise #age wise employee.

Here We can see that large number of employess working  who is in age of 50's. 
Also people above 80 are also working but there number is in just few number.
So we can observe from this that company prefers experienced employees thats why large number of people above 50's are working

In [ ]:
#checking count of salary settlement type
Type_wise=df.Type.value_counts()   #counting employee salary settlement type.
Type_wise  #no. of employee settlement type.

We can observe that 2777 people have monthly salary settlement while 1195 people have two year salary settlement
and 1028 people have year wise salary settlement.

In [ ]:
#checking number of employee Subscribed to billing plans or no
Billing_wise=df.Billing.value_counts()  # counting employee who has subscribed billing plans or not.  
Billing_wise #number of employee subscribed to billing plans.

So 2956 people have subscibed to billing plans.

In [ ]:
# setting a grey background 
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))
# Ploting subplots with numerical variables
sns.histplot(data=df, x="Salary", kde=True, color="red", ax=axs[0, 0])
sns.histplot(data=df, x="Base_pay", kde=True, color="olive", ax=axs[0, 1])
sns.histplot(data=df, x="Bonus", kde=True, color="gold", ax=axs[1, 0])
sns.histplot(data=df, x="Age", kde=True, color="black", ax=axs[1, 1])
plt.show()

In [ ]:
fig, axs = plt.subplots(1, 2, figsize=(10, 5))
sns.histplot(data=df, x="low", kde=True, color="red", ax=axs[0])# histogram for low column 
sns.histplot(data=df, x="Total_Sales", kde=True, color="Navy", ax=axs[1])# histogram for Total_sales column
plt.show()

# Box plot to see distribution

From Box plot we can see the distribution of the data weather it is normally distributed or not.

In [ ]:
# setting a grey background 
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with variables
sns.boxplot(data=df, x="Salary", color="Lime", ax=axs[0, 0])# boxplot to see Distribution of salary
sns.boxplot(data=df, x="Base_pay", color="olive", ax=axs[0, 1])# boxplot to see Distribution of base_pay
sns.boxplot(data=df, x="Bonus", color="gold", ax=axs[1, 0])# boxplot to see Distribution of bonus
sns.boxplot(data=df, x="Age", color="pink", ax=axs[1, 1])# boxplot to see Distribution of age
plt.show()

In [ ]:
# setting a grey background  
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with all variables
sns.boxplot(data=df, x="Unit_Price", color="darkred", ax=axs[0, 0])# boxplot to see outliers of unitprice 
sns.boxplot(data=df, x="Unit_Sales", color="olive", ax=axs[0, 1])# boxplot to see outliers of unit_sales
sns.boxplot(data=df, x="openingbalance", color="gold", ax=axs[1, 0])# boxplot to see outliers of openingbalance
sns.boxplot(data=df, x="closingbalance", color="teal", ax=axs[1, 1])# boxplot to see outliers of closingbalance

plt.show()

In [ ]:
# settong a grey background  
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with variables
sns.boxplot(data=df, x="low", color="red", ax=axs[0,0])# boxplot to see outliers of low column 
sns.boxplot(data=df, x="Total_Sales", color="Navy", ax=axs[0,1])# boxplot to see outliers of Total_sales column
sns.boxplot(data=df, x="Volume", color="Yellow", ax=axs[1,0])# boxplot to see outliers of volume column
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1,1])# boxplot to see outliers of months column
plt.show()

remaining  columns like 'total_sales','low','openingbalance','closingbalance','unit_price','Volume','Months'
this variables are not symetric becuase we an observe  that When the median is not in the middle of the box, and
the whiskers are not about the same on both sides of the box,  thats why the distribution is non-symmetric.

# Statistical Approach QQplot to see the distribution

In [ ]:
pip install pingouin

### If the data is normally distributed, the points in the QQ-normal plot lie on a straight diagonal line.

In [ ]:
# QQ plot for Salary
import pingouin as pg 
pg.qqplot(df['Salary'],dist ='norm')

We can see that data are distributed along qq lines hence we can conclude that Salary is normally distributed.

In [ ]:
# QQ plot for Base_Pay
pg.qqplot(df['Base_pay'],dist ='norm')

Here also points are along with the qq line,hence it is normally distributed.

In [ ]:
# QQ plot for Bonus
pg.qqplot(df['Bonus'],dist ='norm')

Bonus is normally distributed here

In [ ]:
# QQ plot for Age
pg.qqplot(df['Age'],dist ='norm')

Age is also normally distributed as points are along with the qq line.

In [ ]:
# QQ plot for Unit_Price
pg.qqplot(df['Unit_Price'],dist ='norm')

Unit_Price is not normally distributed as points are well far from qq-line

In [ ]:
# QQ plot for Unit_Sales
pg.qqplot(df['Unit_Sales'],dist ='norm')

Unit sales are also not normally distributed.

In [ ]:
# QQ plot for Openingbalance
pg.qqplot(df['openingbalance'],dist ='norm')

Openingbalance is also not normally distributed aspoints are not along with the qq line

In [ ]:
# QQ plot for Closing Balance
pg.qqplot(df['closingbalance'],dist ='norm')

Closingbalance is also not normally distributed as it is not along with the qq line

In [ ]:
# QQ plot for Low
pg.qqplot(df['low'],dist ='norm')

low is also not normally distributed .

# Finding out the correlation between variables using spearman rank correlation

Pearson correlation assumes that the data we are comparing is normally distributed. When that assumption is not true, the correlation value is reflecting the true association. Spearman correlation does not assume that data is from a specific distribution, so it is a non-parametric correlation measure.

Thats why we are going to use spearman rank correlation

In [ ]:
df3 = df.drop(['Business'],axis = 1)# Here I remove the business column becuase this 
                                    #variable comes under categorical feature
df3.head()

In [ ]:
df3_numeric = df3.select_dtypes(include='number')

In [ ]:
# Spearman rank correlation heatmap

df3_numeric.corr(method="spearman")# selecting the method as a sperman
plt.figure(figsize=(20,8))# setting the figuresize

heatmap = sns.heatmap(df3_numeric.corr(method = 'spearman').round(3), vmin=-1, 
vmax=1, annot=True)# annot = True means writting the data value in each cell.

font2= {'family':'serif','color':'green','size':20}
plt.title("Spearman Rank Correlation",font2)
plt.show()# displaying heatmap

In [ ]:
df3_numeric.corr(method='spearman',min_periods=1) #finding spearman co-relation.

A Spearman correlation of 1 results when the two variables being compared are monotonically related, even if 
their relationship is not linear.
Spearman rank correlation coefficient measures the monotonic relation between two variables. Its values range from -1 to +1 and can be interpreted as:

   +1:   Perfectly monotonically increasing relationship.
   
   +0.8: Strong monotonically increasing relationship.
   
   +0.2: Weak monotonically increasing relationship.
   
     0:  Non-monotonic relation.
     
  -0.2:  Weak monotonically decreasing relationship.
  
  -0.8:  Strong monotonically decreasing relationship.
  
    -1:  Perfectly monotonically decreasing relationship.
    

---  Here we can see in above table  that spearman correlation between age and salary is 0.2 which means it
     is weak monotonically increasing relationship.This means if age increases salary will too increase but not that much.
    
---  Spearmen correlation between salary and Total_sales is 0.99.
     It means it is Perfectly monotonically increasing relationship and salary linearly increases with Total_sales
     We can depict that employee who will do high Total_sales will get higher salary.
        
---   Similarly we can find relationshio with all variables.

# The Relationship between Categorical variables and the Dependent variable

In [ ]:
 # Looking the categorical columns
df.select_dtypes(include=['object']).columns.tolist()

we have above categorical columns now we are going to see this variables relationship with dependent variable which is salary of employees

In [ ]:
plt.figure(figsize=(9,8)) #size of the figure
sns.boxplot(data=df,x="Gender", y="Salary", color="Red") #plotting the box plot for Salary vs gender.
plt.title("Salary vs Gender") #plot title.

In [ ]:
plt.figure(figsize=(12,8))#isze of the plot
sns.boxplot(data=df,x="Education", y="Salary", color="Green") #box plot education wise with salary
plt.title("Salary Vs Education") #title of the plot.

From box plot we can onserve that mean salary of the employe who has done the PG is much more higher.
This means that company pay more to employee with higer education.
Similarly the mean of the employee who has done Graduation is high but less than PG people.
Mean Salary of the high school and Intermediate is very low,this means that employee with high school or less and intermediate
has occupied lower post in the company.

In [ ]:
plt.figure(figsize=(12, 7)) #figure size
sns.boxplot(x='Type',y='Salary',data=df,palette='winter') #Salary vs Salary settlement type.

We can see that mean of the all three type of salary settlement is almost equal.

In [ ]:
plt.figure(figsize=(9, 7)) #title of the plot
sns.boxplot(x='Business',y='Salary',data=df,palette='winter') #box plot Salary vs Employee.
plt.title("Salary vs Business") #title of the plot

mean of the both person who has business or not is almost same.

In [ ]:
plt.figure(figsize=(9, 7))# size of the plot
sns.boxplot(data=df,x="Rating", y="Salary") #box plot rating vs salary
plt.title("Salary vs Rating")  #title of the salary

It can be observed that mean of the Salary of the employees who have been rated by supervisor almost same.
Hence rating is not affecting Salary of the employee.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot
sns.boxplot(data=df,x="Dependancies", y="Salary") #box plot of dependancies vs Salary
plt.title("Salary vs Dependancies") #title of the plot

Mean of the both employees who has dependancies or not is almost same.Hence we can conclude that salary is indepedent of the
Dependancies.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot
sns.boxplot(data=df,x="Billing", y="Salary") #box plot of the Billing and Salary
plt.title("Salary vs Billing")  # title of the plot.

# scatter plot to see relationship between numerical data

lets draw scalar plot to see that how features that  we have are affecting our target variable Salary
It will help us in data cleaning(dropping un-necessary data from our model )

In [ ]:
#scatter plot vs salary and Base_pay
#distribution of salary on the basis of Base_Pay

plt.figure(figsize=(15,10))
plt.xlabel('Base_pay',fontsize=15)
plt.ylabel('salary',fontsize=15)
plt.title('Base_pay vs salary',fontsize=15)

sns.scatterplot(x=df['Base_pay'],y=df['Salary'],color='black')
plt.show()

By observing the above plot here we see that we have linear relationship between Base_pay and Salary so we may keep base_pay in our feauture selection.

In [ ]:
#distribution of salary on age to know the trend of salary increase according to age or not . 
plt.figure(figsize=(15,10))
plt.xlabel('Age',fontsize=15)
plt.ylabel('salary',fontsize=15)
plt.title('age vs salary',fontsize=15)

sns.scatterplot(x=df['Age'],y=df['Salary'],color='black')
plt.show()

By observing the above plot here we dont see any special patterns in our data there is no relationship between Age & Salary 
and By using Spearman correlation we got 0.2 correlation between salary and 
Age thats why we can remove this column in feature selection.

In [ ]:
#scatter plot openingbalance vs salary
#distribution of salary on the basis of openingbalance
plt.figure(figsize=(20,10))
plt.xlabel('openingbalance',fontsize=20)
plt.ylabel('salary',fontsize=20)
plt.title('openingbalance vs salary',fontsize=20)

sns.scatterplot(x=df['openingbalance'],y=df['Salary'],color='black')
plt.show()

we can see that there is no clear relationship between openingbalance and salary so we can remove it in feauture selection

In [ ]:
#distribution of salary on Volume to know the trend of salary increase according to volume or not . 
plt.figure(figsize=(20,10))
plt.xlabel('Volume',fontsize=20)
plt.ylabel('salary',fontsize=20)
plt.title('Volume vs salary',fontsize=20)

sns.scatterplot(x=df['Volume'],y=df['Salary'],color='black')
plt.show()

In [ ]:
# distribution salary on basis of bonus 
plt.figure(figsize=(20,10))
plt.xlabel('Bonus',fontsize=20)
plt.ylabel('salary',fontsize=20)
plt.title('Bonus vs salary',fontsize=20)

sns.scatterplot(x=df['Bonus'],y=df['Salary'],color='black')
plt.show()

By observing the above plot here we see that we have linear relationship between Bonus and Salary
and By using Spearman correlation we got 100% correlation between salary and bonus thats why this may be  important variable 
for us.

# Data Cleaning and Justification




Nan values present were already replaced with mean value so that we can get more accurate graphs.
In this Data set we will check now for outliers present in the data.
Outliers are the extreme value who lies far from from maximuma and minimum of data.
So sometime removing outliers increases efficicancy of the calculation and make the data normally distributed.

# Checking Outliers


Business	Age	Salary	Base_pay	Bonus	Unit_Price	Volume	openingbalance	closingbalance	
low	Unit_Sales	Months Total_Sales

In [ ]:
plt.figure(figsize=(9, 7)) #size of the figure
figure=df.boxplot(column="Age") #box plot of the Age.

We can see the outliers present in Age data .

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot
figure=df.boxplot(column="Salary") #box plot of the Salary.

We can observe that outliers are present in the salary.Mean Salary of the employee in this company is almost approximately 100000

In [ ]:
plt.figure(figsize=(9, 7)) #size of the figure
figure=df.boxplot(column="Base_pay") #box plot of the Base_pay

Base_pay has outliers and Mean Base_Pay of employees of this company is 40000.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot
figure=df.boxplot(column="Bonus") #box plot of the Bonus

Bonus has outliers and Mean Bonus is approximately 5000.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the graph
figure=df.boxplot(column="Unit_Price") # box plot of the unit price.

### check outliers for age,salary,base pay,bonus,unit_Price,Volume,openingbalance,closingbalance,unit_Sales,Total_sales

unit price is full of outliers.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot.
figure=df.boxplot(column="Volume") #box plot of the volume.

Volume has large number of outliers.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot
figure=df.boxplot(column="openingbalance") #box plot of the openingbalance

openingbalance is full of outliers

In [ ]:
plt.figure(figsize=(9, 7)) #plotting the figure 
figure=df.boxplot(column="closingbalance") #box plot of the closingbalance

closebalance has also large number of the outliers.

In [ ]:
plt.figure(figsize=(9, 7))  #figure size
figure=df.boxplot(column="low")  #plotting box plot of lowest balance alloted to the person

it contains large number of outleirs.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot
figure=df.boxplot(column="Unit_Sales") #box plot of the unit sales

unit sales donot have outliers.

In [ ]:
plt.figure(figsize=(9, 7)) #size of the plot.
figure=df.boxplot(column="Total_Sales") #box plot of the Total_sales.

Total_sales donot contain any outliers

In [ ]:
plt.figure(figsize=(9, 7))  #size of the plot
figure=df.boxplot(column="Months") #box plot of the months

It doesnot contain outliers.Mean duration of the employee working in the company is abput 28 months approximately.

# pre-processing the data

# Feature engineering

# Finding out the correlation between variables using spearman rank correlation

Pearson correlation assumes that the data we are comparing is normally distributed. When that assumption is not true, the correlation value is reflecting the true association. Spearman correlation does not assume that data is from a specific distribution, so it is a non-parametric correlation measure.

Thats why we are going to use spearman rank correlation

In [ ]:
df3 = df.drop(['Business'],axis = 1)# Here I remove the business column becuase this variable comes under categorical feature
df3.head()

In [ ]:
df3_numeric = df3.select_dtypes(include='number')
# Spearman rank correlation heatmap

df3_numeric.corr(method="spearman")# selecting the method as a sperman
plt.figure(figsize=(20,8))# setting the figuresize

heatmap = sns.heatmap(df3_numeric.corr(method = 'spearman').round(3), vmin=-1, 
vmax=1, annot=True) #annot = True means writting the data value in each cell.

font2= {'family':'serif','color':'green','size':20}
plt.title("Spearman Rank Correlation",font2)
plt.show()# displaying heatmap

Now Working on Numerically Highly corelated variables

From Heatmap I conclude that Some of our numerical variables have very high correlation between them which is above 80% coliniarity between dependent and other variables.

In [ ]:
# Looking to the percentage of correlation 
df3_numeric = df3.select_dtypes(include='number')
df3_numeric.corr(method='spearman')*100

### Here we see that Base_pay, Bonus, Unit_Price, low, Unit_sales, Total_Sales This variables are highly correlated with each other.

So we have two options either we can choose one variable and delete the remaing variables or going to take average of that columns

So here I observed that between this colinear variables 'bonus' have high correlation with dependent variable thats why I choose to kept it and decided to delete the other variables which are highly corelated

As per our visualization approach we conclude that Gender,Business,Dependancies,Calls,Type,Billing,Rating This variables dont affect on our dependent variable so as per this approach we can drop this column.

In [ ]:
# Dropping the non-required variables
dff = df.drop(columns=['Gender','Business','Dependancies','Calls','Type','Billing',
                       'Rating','Base_pay','Unit_Price','low','Unit_Sales',
                       'Total_Sales','openingbalance','closingbalance','Volume','Bonus'])
dff.head()

In [ ]:
#label encoding to convert cateograical data to into numerical data

dff['Education']=dff['Education'].map({'High School or less': 0, 'Intermediate': 1, 
                                       'Graduation': 2, 'PG': 3})
#assigning high school =0,Intermediate =1 and gradaution=2

In [ ]:
dff.head() #head of the data set after label encoding

We can clearly see that all cateogracial data has been changed into numerical data.

In [ ]:
dff.info()# cross checking

# Handaling Outliers

In [ ]:
Q1=dff.quantile(0.25).round(3) # taking lower quantile into Q2
Q3 =dff.quantile(0.75).round(3) # taking upper quarantile to Q3
IQR = Q3 - Q1 #calculating inter quantile range
print(IQR) #printing quatile range

In [ ]:
dfout = dff[~((dff < (Q1 - 1.5 * IQR)) |(dff > (Q3 + 1.5 * IQR))).any(axis=1)] #removing outliers from whole data set.
dfout.shape

# Sanity check weather outliers are removed or not

In [ ]:
sns.boxplot(x=dfout['Age'])

there is no outliers in age

In [ ]:
sns.boxplot(x=dfout['Salary'])

there is no outliers in salary

In [ ]:
sns.boxplot(x=dfout['Months'])

there is no outliers in month

# Model Building

In Model Building we have to prepare the data set for machine learning algorithm.Also we have to prepare the data in a such a way that 
it gives better efficiancy.For stability of data set we can drop the highly co-related features in the data set.

In [ ]:
x =dff.drop(['Salary'],axis=1) #dropping highly co-related features.
x #new datas set.

This is our dependednt variables

In [ ]:
#Dependent variables to y
y = dff['Salary']
y

In [ ]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, 
                                                    random_state=0)

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test

In [ ]:
# data normalization with sklearn
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
# fit scaler on training data
x_train = sc.fit_transform(x_train)

# transform testing data
x_test = sc.transform(x_test)

In [ ]:
x_train

In [ ]:
x_test

# Machine learning techniques

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Create and train the Linear Regression model
model_lr = LinearRegression()
model_lr.fit(x_train, y_train)

# Make predictions
y_pred_lr = model_lr.predict(x_test)

# Calculate performance metrics
mae_lr = mean_absolute_error(y_test, y_pred_lr)
mse_lr = mean_squared_error(y_test, y_pred_lr)
rmse_lr = np.sqrt(mse_lr)
mape_lr = np.mean(np.abs((y_test - y_pred_lr) / np.abs(y_test)))
accuracy_lr = 100 * (1 - mape_lr)

# Print the performance metrics for Linear Regression
print('Linear Regression Metrics:')
print('Mean Absolute Error (MAE):', mae_lr)
print('Mean Squared Error (MSE):', mse_lr)
print('Root Mean Squared Error (RMSE):', rmse_lr)
print('Mean Absolute Percentage Error (MAPE):', round(mape_lr * 100, 2))
print('Accuracy:', round(accuracy_lr, 2))

In [ ]:
from sklearn.tree import DecisionTreeRegressor

# Create and train the Decision Tree model
model = DecisionTreeRegressor()
model.fit(x_train, y_train)

# Make predictions
y_pred = model.predict(x_test)

# Calculate performance metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mape = np.mean(np.abs((y_test - y_pred) / np.abs(y_test)))
accuracy = 100 * (1 - mape)

# Print the performance metrics
print('Mean Absolute Error (MAE):', mae)
print('Mean Squared Error (MSE):', mse)
print('Root Mean Squared Error (RMSE):', rmse)
print('Mean Absolute Percentage Error (MAPE):', round(mape * 100, 2))
print('Accuracy:', round(accuracy, 2))

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Create and train the Random Forest model
model_rf = RandomForestRegressor(n_estimators=100, random_state=42)
model_rf.fit(x_train, y_train)

# Make predictions
y_pred_rf = model_rf.predict(x_test)

# Calculate performance metrics
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
mape_rf = np.mean(np.abs((y_test - y_pred_rf) / np.abs(y_test)))
accuracy_rf = 100 * (1 - mape_rf)

# Print the performance metrics for Random Forest
print('Random Forest Metrics:')
print('Mean Absolute Error (MAE):', mae_rf)
print('Mean Squared Error (MSE):', mse_rf)
print('Root Mean Squared Error (RMSE):', rmse_rf)
print('Mean Absolute Percentage Error (MAPE):', round(mape_rf * 100, 2))
print('Accuracy:', round(accuracy_rf, 2))

In [ ]:
import xgboost as xgb

# Create and train the XGBoost model
model_xgb = xgb.XGBRegressor()
model_xgb.fit(x_train, y_train)

# Make predictions
y_pred_xgb = model_xgb.predict(x_test)

# Calculate performance metrics
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mse_xgb)
mape_xgb = np.mean(np.abs((y_test - y_pred_xgb) / np.abs(y_test)))
accuracy_xgb = 100 * (1 - mape_xgb)

# Print the performance metrics for XGBoost
print('XGBoost Metrics:')
print('Mean Absolute Error (MAE):', mae_xgb)
print('Mean Squared Error (MSE):', mse_xgb)
print('Root Mean Squared Error (RMSE):', rmse_xgb)
print('Mean Absolute Percentage Error (MAPE):', round(mape_xgb * 100, 2))
print('Accuracy:', round(accuracy_xgb, 2))

# Step 8 : Cross-validation

Cross-validation is a resampling method that uses different portions of the data to test and 
train a model on different iterations

In [ ]:
# Cross validation for our model
from sklearn.model_selection import ShuffleSplit, cross_val_score
model=LinearRegression()
ssplit=ShuffleSplit(n_splits=10,test_size=0.30)
from sklearn.model_selection import cross_val_score
results=cross_val_score(model,x,y,cv=ssplit)
print(results)
print("\nMean Cross-validation Accuracy:",np.mean(results))

In [ ]:
# Cross validation for our model

model=DecisionTreeRegressor(max_depth=3)
ssplit=ShuffleSplit(n_splits=10,test_size=0.30)
from sklearn.model_selection import cross_val_score
results=cross_val_score(model,x,y,cv=ssplit)
print(results)
print("\nMean Cross-validation Accuracy:",np.mean(results))

In [ ]:
# Cross validation for our model
model=RandomForestRegressor(random_state=5)
ssplit=ShuffleSplit(n_splits=10,test_size=0.30)
from sklearn.model_selection import cross_val_score
results=cross_val_score(model,x,y,cv=ssplit)
print(results)
print("\nMean Cross-validation Accuracy:",np.mean(results))

In [ ]:
model_xgb = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)

# Define ShuffleSplit cross-validation
ssplit = ShuffleSplit(n_splits=10, test_size=0.3)

# Perform cross-validation
results_xgb = cross_val_score(model_xgb, x, y, cv=ssplit)

# Print results for each fold
print("Cross-validation results for each fold:")
print(results_xgb)

# Print mean accuracy across all folds
print("\nMean Cross-validation Accuracy:", np.mean(results_xgb))

In [ ]:
import pickle
from xgboost import XGBRegressor

# Example: Train a model (XGBoost Regressor as an example)
model_xgb = XGBRegressor()
model_xgb.fit(x_train, y_train)

# Save the trained model to a file using pickle
with open('hr.pkl', 'wb') as file:
    pickle.dump(model_xgb, file)

print("Model saved successfully.")

In [ ]:
with open('schr.pkl', 'wb') as scaler_file:
    pickle.dump(sc, scaler_file)

In [ ]:
import tkinter as tk
import pickle
import numpy as np

# Load the trained XGBoost model
with open('hr.pkl', 'rb') as model_file:
    model = pickle.load(model_file)

# Load the scaler used during training
with open('schr.pkl', 'rb') as scaler_file:
    scaler = pickle.load(scaler_file)

# Create Tkinter GUI
root = tk.Tk()
root.title("Salary Prediction")

# Function to get prediction from input fields
def get_prediction():
    # Get input values from entry fields
    age = float(age_entry.get())
    experience = float(experience_entry.get())
    education = int(education_entry.get())

    # Create a numpy array with input values
    input_data = np.array([[age, experience, education]])

    # Normalize the input data using the scaler
    input_data_scaled = scaler.transform(input_data)

    # Predict using the loaded model
    prediction = model.predict(input_data_scaled)

    # Display prediction result
    result_label.config(text=f"Predicted Salary: ${prediction[0]:,.2f}")

# Create labels and entry fields for input features
tk.Label(root, text="Age").grid(row=0, column=0)
tk.Label(root, text="Experience (Months)").grid(row=1, column=0)
tk.Label(root, text="Education Level (0-3)").grid(row=2, column=0)

age_entry = tk.Entry(root)
experience_entry = tk.Entry(root)
education_entry = tk.Entry(root)

age_entry.grid(row=0, column=1)
experience_entry.grid(row=1, column=1)
education_entry.grid(row=2, column=1)

# Button to trigger prediction
predict_button = tk.Button(root, text="Predict", command=get_prediction)
predict_button.grid(row=3, columnspan=2)

# Label to display prediction result
result_label = tk.Label(root, text="")
result_label.grid(row=4, columnspan=2)

root.mainloop()

In [ ]:
#app

In [ ]:
# Define the content of the updated Streamlit script
streamlit_code = """
import streamlit as st
import pickle
import numpy as np

# Load the trained XGBoost model and scaler
with open('hr.pkl', 'rb') as model_file:
    model = pickle.load(model_file)

with open('schr.pkl', 'rb') as scaler_file:
    scaler = pickle.load(scaler_file)

# Create the web app
st.title('Salary Prediction App')

# Input fields
age = st.number_input('Age', min_value=0, max_value=120, value=30)
education = st.selectbox('Education Level', ['High School or less', 'Intermediate', 'Graduation', 'PG'])
experience_months = st.number_input('Months of Experience', min_value=0, max_value=600, value=60)  # Assuming max experience is 50 years

# Convert education to numeric encoding
education_mapping = {'High School or less': 0, 'Intermediate': 1, 'Graduation': 2, 'PG': 3}
education_encoded = education_mapping[education]

# Prepare the feature vector
features = np.array([[age, education_encoded, experience_months]], dtype=np.float64)

# Scale the features
features_scaled = scaler.transform(features)

# Predict salary
predicted_salary = model.predict(features_scaled)

# Display the result
st.write(f"Predicted Salary: ${predicted_salary[0]:,.2f}")
"""

# Specify the file path where the hrapp.py file will be saved
file_path = 'hrapp.py'

# Write the content to the file
with open(file_path, 'w') as file:
    file.write(streamlit_code)

print(f"File '{file_path}' has been saved.")

In [ ]:
#streamlit run hrapp.py

# Results and Recommendations:

# Results:
    
Data analysis and interpretations

1.Data set was read.

2. Head and tail of the data set was visualized.


3. Data basic information was seen like mean,max,etc.


4. Shape of the data is 5000 row and 20 column.


5. Sum of null values were seen and null values were present in the data set.


6. null values were successfully replaced with the help of KNN imputer.


7. Total_sales has some empty spaces which was replaced with nan then replaced by mean value.


8. various category vs there count were plotted to understand the data.


9. Gender- There is not much difference between male and femlae employee.


10.Companies has hired large number of employee which can be seen in month column.


11.Most of the employee are seniors with mean age of 51.


12.Few data normalization checked,and they were not normal.It means they have outliers.


13 Spearman co-relation was obtained.Spearmen correlation between salary and Total_sales is 0.99.


13.a. It means it is Perfectly monotonically increasing relationship and salary linearly increases with Total_sales.


13.b. We can depict that employee who will do high Total_sales will get higher salary.Similary all features can be related in spearman table.


14 Cateograical and dependent variable analyzed.


15. Both Male and female working in almost equal number in the company.


16.We can depicts from this graph that both female and male drawing almost equal salary(total number wise) from company.


17. Mean of the both person who has business or not is almost same.


18.Large number of employee have authority to call.


19. We can observe that employee with PG degree draws salary  approximately ranges from almost 50000 to 2 lac.
Employee with Graduation is drawing salary from approximately 25000 to 1.25 lac.
Salary of High School or less  and Intermediate is drawing salary less than 25000.

20.We can observe that high number of unit sales ,higher will be the salary.


21.We can see that higher number of sales,higher is the salary.


22.we can observe that company has hired high number of new employees. In last four months company has hired.

almost 765 employees. Also company has 269 employees who are giving there services from 72 months.


23. by scatter plot we can see the relation between numerical data and salary.

24 In Data cleaning all nan values were already replaced with mean.




Data Cleaning and justification

25. Outliers were checked for all numberical data and it was found that Many features has large number of outlers.

26. Outliers were removed using IQR method .

27. varification done weather outliers were removed by re-plotting the box-plot and it was found that outliers were successfully removed.


 Feature Engineering

28. Data set has cateograical data which have to change ino numberical data for machine learning.

29. Feature selection is a technique where we choose those features in our data that contribute most to the target variable.

30. Here we can see that in scores business, calls, type, billing, rating,gender,openingbalance,closing balance has less contribution to target variable.
so we can drop them.
31. Using label-encoding all cateograical data was changed to numerical data.

32. spearman Co-relation method was used to check co-relation between two feautres.

33. Highly co-related datas have to be removed to make the model stable.

34. Thresold was kept 0.80 and it was found that Basic_pay,Bonus,Total_Sales and Unit_sales has the co-relation above 0.8.


 Model Building
    
35. Cateogrical data like calls,rating,dependancies,billing,type,Business were dropped.

36. Highly co-related data were dropped.

37. Model were split into x_train,y_train,x_test,y_test.

38. Normalization using standardscalar done to scale down our target vairable.


 Machine learning techniques 

39.  ### Linear regression accuracy:-78.27
    

40. #### Decission Tree Regression :- 99.35

41. Accuracy came good but we should try  another techniques to get better accuracy.

42. ### Random Forest Regression algorithm were used in the model now.99.09

43. #### accuracy comes around

43 b. Xgboost:-99.24

44. Desired accuracy were achieved. And we can say that our model is working correct.

45. ### Linear regression were tried and accuracy we got less accuracy.


Step 8 :- Cross Validation
    
47.Cross-validation is a resampling method that uses different portions of the data to test and  train a model on different iterations.



Verdict :- After explotatotry analysis,data cleaning and model building,various machine learning techniques were tried.
           In our model we got it is random forest regreesor giving highest accuracy as compared to rest of all the models.
        
### Recommendations :

1. From the analysis done, it was observed that employee with high experience giving high sales to the company.
   So company should hire experienced candidate more.

2. Employee performance was dominated by age,months(services to the company), education.

3. So strategic approach to the efficient management and maximum business gain to the  company can be
done by  hiring  the employee  who is experienced and has high education like PG.

4. Salary component mostly affected by the age,months and education.Also company total_sales are direcly related to salary.

5. So hr department can plan their approach by keeping above facts in mind for hiring the candidate who can help them to get maximum sales,which can benift the company most.